@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #3f3f46;
  --card-bg: #FCFBFB;
  --border: #E8E6EB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-manrope);
  --font-heading: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-heading {
  font-family: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}

.font-mono {
  font-family: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}
